<div class="emit-heading">
	<h1>Add Guardians</h1>
	<p>
		Provide the following to add a guardian to your profile. To view guardians go <a href="/dashboard/profile/guardianlist">here</a>.
	</p>
</div>
<div class="emit-form" role="form">
	<div class="form-group">
		<input ng-model="cache.fullname" type="text" class="form-control" placeholder="Full Name">
	</div>
	<div class="form-group">
		<input ng-model="cache.homephone" type="text" class="form-control" placeholder="Home Number">
	</div>
	<div class="form-group">
		<input ng-model="cache.cellphone" type="text" class="form-control" placeholder="Cell Number">
	</div>
	<div class="form-group">
		<input ng-model="cache.emailaddr" type="text" class="form-control" placeholder="Email Address">
	</div>
	<div class="form-group">
		<input ng-model="cache.password" type="password" class="form-control" placeholder="Password (Gives guardian restricted access to your profile)">
	</div>
	<div class="form-group">
		<label>Choose Gender:</label>&nbsp;&nbsp;
		<input ng-model="cache.gender" type="radio" name="gender" value="male"> Male
		<input ng-model="cache.gender" type="radio" name="gender" value="female"> Female
	</div>
	<button class="btn btn-primary btn-lg btn-block" ng-click="addUser('guardians',cache)">Add Guardian</button>
</div>
<div id="emit-sidebar">
	<div class="emit-sidebar-option" ng-click="path('/dashboard')">
		<i class="icon icon-home"></i>
		<span>Dashboard</span>
	</div>
	<div class="emit-sidebar-option" ng-click="path('/dashboard/profile')">
		<i class="icon icon-edit"></i>
		<span>My Profile</span>
	</div>
	<div class="emit-sidebar-option" ng-click="path('/dashboard/vitals')">
		<i class="icon icon-heart"></i>
		<span>My Vitals</span>
	</div>
	<div class="emit-sidebar-option" ng-click="path('/')">
		<i class="icon icon-exit"></i>
		<span>Sign Out</span>
	</div>		
</div>

