<div id="emit-forgot" role="form">
	<h1>Retrieve Password</h1>
	<div class="form-group">
		<p>Type the email associated with your account to retrieve your password</p>
	</div>
	<div class="form-group">
		<input class="form-control" type="text" placeholder="Email">
	</div>
	<div class="form-group">
		<button class="btn btn-primary btn-block btn-lg" ng-click="popup.show('Reset Email Sent','icon-send', true, 'Follow the instructions detailed in the email to reset your password.')">Send Password</button>
	</div>
	<div class="form-group">
		<p id="remember-password-link">I remember my password now, <a href="/">take me back</a></p>
	</div>
</div>