<div id="emit-login" role="form">
	<div class="form-group">
		<input class="form-control" type="text" placeholder="Email">
	</div>
	<div class="form-group">
		<input class="form-control" type="password" placeholder="Password">
	</div>
	<div class="form-group">
		<a href="/forgot" id="forget-password-link">Forget Password?</a>
	</div>
	<button ng-click="popup.show('Welcome to your Health Portal','icon-heart', false, 'You will have the ability to check your reading, update your profile, and manage your health network.','/dashboard', 'Continue')" class="btn btn-primary btn-block btn-lg">Sign in</button>
</div>