#emit-forgot 
{
	& { 
		width: 90%;
		max-width: 25rem;
		margin: -15rem auto 0 auto;
		position: relative;
		top: 50%;
	}

	h1 { 
		font-size: 3rem;
		margin-bottom: 1rem;
	}

	p { 
		font-size: 1.1rem;
		line-height: 1.5;
	}

	#remember-password-link { 
		font-size: .9rem;
	}
}